<div class="box grid_12">
  <h2><%= t'people.title' %></h2>
  <div class="box_body">
    <form id="filter-form">
      Filter: <input name="filter" id="filter" value="" maxlength="30" size="30" type="text">
    </form>
    <table class="tablesorter" id="sorted_table">
      <thead> 
        <tr>
          <th><%= t'people.name' %></th>
          <th><%= t'people.role' %></th>
          <th><%= t'people.organisation' %></th>
          <th><%= t'people.email' %></th>
          <th><%= t'people.country' %></th>
        </tr>
      </thead> 

      <tbody> 
      <% @people.each_with_index do |person, i| %>
        <tr class="<%= i%2 == 1 ? 'odd' : 'even' %>">
          <td><h4 class="tabled"><%= person.name %></h4></td>
          <td><%= person.role %></td>
          <td><%= person.organisation %></td>
          <td><%= person.email %></td>
          <td><%= person.country %></td>
        </tr>
      <% end %>
      </tbody> 
    </table>

    <br />

    <%= link_to 'New Person', new_person_path %>
  </div>
</div>

