<div class="box grid_8">
  <h2><%= t("about.about_title") %></h2>
  <div class="box_body">
    <p>
      <%= t('about.about_p1') %>
    </p>
    <p>
      <%= t('about.about_p2') %>
    </p>
    <p>
      <i><%= t('about.about_p3') %></i>
    </p>
    <p>
      <%= t('about.about_p4') %>
    </p>
    <p>
      <%= t('about.about_p5') %>
    </p>
  </div>
</div>

<div class="box grid_4">
  <h2><%= t("about.map_title") %></h2>
  <div class="box_body">
    <%= link_to image_tag("areas_map-small.png", :width => '350px'), '/images/areas_map.png' %>
  </div>
</div>
