<div class="box grid_6">
  <h2><%= t 'dnt.data.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'dnt.data.intro' %>
    </p>
    <ul id="category_switches" class="category_switch ">
      <li id="browse_region" tree_url="/docs.js" class="active"><%= link_to t('dnt.data.browse_region'), '#' %></li>
      <li id="browse_topic" tree_url="/topic_docs.js"><%= link_to t('dnt.data.browse_topic'), '#' %></li>
    </ul>
    <div id="document_tree">
    </div>
  </div>
</div>

<div class="box grid_6">
  <h2><%= t 'dnt.tool.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'dnt.tool.intro' %>
    </p>
    <div style="align:center">
      <iframe src="http://player.vimeo.com/video/21291075" width="360" height="200" frameborder="0"></iframe><p><a href="http://vimeo.com/21291075">CCPAWA Mapping Tool Introduction</a>, larger version at <a href="http://vimeo.com/21291075">Vimeo</a>.</p>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $('#category_switches li').live("click", function(e) {
    $('#category_switches li').removeClass('active');
    $(this).addClass('active');

    createJSTree(this.attributes['tree_url'].value);
  });
</script>
