<div class="box grid_7">
  <h2><%= t 'dnt.data.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'dnt.data.intro' %>
    </p>
    <ul class="category_switch ">
      <li class="active"><%= link_to "Browse by region", '#' %></li>
      <li><%= link_to "Browse by topic", '#' %></li>
    </ul>
    <div id="document_tree">
    </div>
  </div>
</div>

<div class="box grid_5">
  <h2><%= t 'dnt.tool.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'dnt.tool.intro' %>
    </p>
    <%= image_tag "mapping_tool_video.png" %>
  </div>
</div>
