<div class="box grid_7">
  <h2><%= t 'dnt.data.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'dnt.data.intro' %>
    </p>
    <ul id="category_switches" class="category_switch ">
      <li tree_url="/docs.js" class="active"><%= link_to "Browse by region", '#' %></li>
      <li tree_url="/topic_docs.js"><%= link_to "Browse by topic", '#' %></li>
    </ul>
    <div id="document_tree">
    </div>
  </div>
</div>

<div class="box grid_5">
  <h2><%= t 'dnt.tool.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'dnt.tool.intro' %>
    </p>
    <%= image_tag "mapping_tool_video.png" %>
  </div>
</div>

<script type='text/javascript'>
  $('#category_switches li').live("click", function(e) {
      createJSTree(this.attributes['tree_url'].value);
  });
</script>
