<div class="box grid_5">
  <h2><%= t 'information.pd.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'information.pd.intro' %>
    </p>
    <ul class="docs_list">
      <li class="odd">
        <%= link_to t('information.docs.project_summary.name'), '/docs/' + URI.escape(t('information.docs.project_summary.file')) %>
      </li>
      <li>
        <%= link_to 'Project document: Evolution of PA systems with regard to climate change in the West Africa Region', "/docs/" + URI.escape('Annex 1 PROJECT DOCUMENT - West AFrica PA project  June 2010.pdf') %>
      </li>
      <li class="odd">
        <%= link_to 'Endorsement Letter from the Global Environment Facility (GEF)', "/docs/" + URI.escape('Annex 2 CEO endorsement letter and tracking sheet.pdf') %>
      </li>
      <li>
        <%= link_to 'Baseline Study A: Identifying current data gaps and status of data acquisition for Climate Change and Protected Areas in West Africa' + URI.escape('A Data_Report_Final.pdf') %>
      </li>
      <li class="odd">
        <%= link_to 'Baseline Study B: Etat actuel de la recherche et de la compréhension des liens entre le changement climatique, les aires protégées et les communautés (FR)', "/docs/" + URI.escape('Baseline Study B - links between PAs and CC.pdf') %>
      </li>
      <li>
        <%= link_to 'Baseline Study C: Etude de l’état des instruments politiques, capacités institutionnelles et niveaux de sensibilisation en relation avec les changements climatiques et les aires protégées en Afrique de l’Ouest (FR)', "/docs/" + URI.escape('Baseline Study C - policy, awarness and capacity.pdf') %>
      </li>
    </ul>
  </div>
</div>

<div class="box grid_7">
  <h2><%= t 'information.gi.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'information.pd.intro' %>
    </p>
    <ul class="docs_list">
      <li class="odd">
        <%= link_to 'Dudley, N. et al. [editors] (2010); Natural Solutions: Protected areas helping people cope with climate change, IUCNWCPA, TNC, UNDP, WCS, The World Bank and WWF, Gland, Switzerland, Washington DC and New York, USA. (EN)', "http://www.iucn.org/unfccc/events/2010_cancun/publications/?uPubsID=3938" %>
      </li>
      <li>
        <%= link_to 'Dudley, N. et al. (2010); Solutions Naturelles – Les aires protégées nous aident à faire face aux changements climatiques, produit par l’UICN-CMAP, TNC, le PNUD, WCS, la Banque mondiale et le WWF. (FR - Summary)', "/docs/" + URI.escape('Heller2007.pdf') %>
      </li>
      <li class="odd">
        <%= link_to 'Hole, D.G. et al. (2009) Projected impacts of climate change on a continent-wide protected area network. Ecology Letters, 12(5): 420-431. (EN)', "http://courses.washington.edu/cfr590/climatechange/Hole%20et%20al.2009.pdf" %>
      </li>
      <li>
        <%= link_to 'Loarie, S.R. et al. (2009) The velocity of climate change. Nature 462, 1052-1055. (EN)', "http://research.calacademy.org/files/Departments/cabi/Loarieetal_Nature09.pdf" %>
      </li>
      <li class="odd">
        <%= link_to "Willis, S.G. et al. (2009) Assessing the Impacts of Future Climate Change on Protected Area Networks: A Method to Simulate Individual Species' Responses. Environmental Management, 43(5): 836-845. (EN)", "http://www.springerlink.com/content/j490206413k77864/fulltext.pdf" %>
      </li>
      <li>
        <%= link_to 'Anoko, J.N. (2008) Gender and equity in the Protected Areas of West Africa. IUCN-PAPACO & FIBA. (EN)', "http://www.lafiba.org/var/plain/storage/original/application/0d396aabbb9ce4b97f43a306803c0add.pdf" %>
      </li>
      <li class="odd">
        <%= link_to "Anoko, J.N. (2008) Genre et équité dans les Aires Protégées en Afrique de l’Ouest. UICN-PAPACO & FIBA. (FR)", "http://www.papaco.org/publication/EQUITE%20FR.pdf" %>
      </li>
      <li>
        <%= link_to 'Dudley, N. (Editor) (2008). Guidelines for Applying Protected Area Management Categories. Gland, Switzerland: IUCN (EN)', "http://data.iucn.org/dbtw-wpd/edocs/PAPS-016.pdf" %>
      </li>
      <li class="odd">
        <%= link_to "Dudley, N. (Éditeur) (2008). Lignes directrices pour l’application des catégories de gestion aux aires protégées. Gland, Suisse : UICN. (FR)", "http://www.papaco.org/publication/AP%20cat%20IUCN.pdf" %>
      </li>
      <li>
        <%= link_to 'Heller, N.E. & Zavaleta, E.S. (2009) Biodiversity management in the face of climate change: A review of 22 years of recommendations. Biological Conservation, 142(1): 14-32 (FR)', "/docs/" + URI.escape('Heller2007.pdf') %>
      </li>
    </ul>
  </div>
</div>
