<div class="box grid_5">
  <h2><%= t 'information.pd.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'information.pd.intro' %>
    </p>
    <ul class="docs_list">
      <li class="odd">
        <%= link_to t('information.docs.project_summary.name'), '/docs/' + URI.escape(t('information.docs.project_summary.file')) %>
      </li>
      <li>
        <%= link_to 'Project document: Evolution of PA systems with regard to climate change in the West Africa Region', "/docs/" + URI.escape('Annex 1 PROJECT DOCUMENT - West AFrica PA project  June 2010.pdf') %>
      </li>
      <li class="odd">
        <%= link_to 'Endorsement Letter from the Global Environment Facility (GEF)', "/docs/" + URI.escape('Annex 2 CEO endorsement letter and tracking sheet.pdf') %>
      </li>
      <li>
        <%= link_to 'Baseline Study A: Identifying current data gaps and status of data acquisition for Climate Change and Protected Areas in West Africa' + URI.escape('A Data_Report_Final.pdf') %>
      </li>
      <li class="odd">
        <%= link_to 'Baseline Study B: Etat actuel de la recherche et de la compréhension des liens entre le changement climatique, les aires protégées et les communautés (FR)', "/docs/" + URI.escape('Baseline Study B - links between PAs and CC.pdf') %>
      </li>
      <li>
        <%= link_to 'Baseline Study C: Etude de l’état des instruments politiques, capacités institutionnelles et niveaux de sensibilisation en relation avec les changements climatiques et les aires protégées en Afrique de l’Ouest (FR)', "/docs/" + URI.escape('Baseline Study C - policy, awarness and capacity.pdf') %>
      </li>
    </ul>
  </div>
</div>

<div class="box grid_7">
  <h2><%= t 'information.gi.title' %></h2>
  <div class="box_body">
    <p>
      <%= t'information.pd.intro' %>
    </p>
    <ul class="docs_list">
      <li class="odd">
        <%= link_to 'Heller, N.E. & Zavaleta, E.S. (2009) Biodiversity management in the face of climate change: A review of 22 years of recommendations. Biological Conservation, 142(1): 14-32 (FR)', "/docs/" + URI.escape('Heller2007.pdf') %>
      </li>
    </ul>
  </div>
</div>
