<!DOCTYPE html>
<html>
  <head>
    <title><%= t'site_name' %></title>
    <%= stylesheet_link_tag 'grid', 'scaffold','global'  %>
    <script src="https://www.google.com/jsapi?key=ABQIAAAAeHILri4AWFPUe0-e6P_4ABT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQwL8AXvy8vSY9rXFf4z7zSI4k5EQ" type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
      //<![CDATA[

        google.load("jquery", "1.4.4");
    
      //]]>
    </script>

<%= javascript_include_tag 'jquery.cookie', 'jquery.rails', 'jquery.tablesorter.min', 'jquery.uitablefilter', "jquery.jstree", 'application'  %>
<%= csrf_meta_tag %>
</head>
<body>
  <div class="container clearfix">
    <div class="header grid_12">
      <div class="grid_10">
        <h1><%= link_to t('site_name'), about_path %></h1>
      </div>
      <div class="language_picker grid_2">
        <%= link_to image_tag('/images/flags/en.png'), url_for(:locale => :en) %>
        <%= link_to image_tag('/images/flags/fr.png'), url_for(:locale => :fr) %>
      </div>
    </div>
    <div class="navigation grid_12">
      <ul class="menu grid_12">
        <li class="grid_4"><%= link_to "Information", information_path %></li>
        <li class="grid_4"><%= link_to "Data and Tools", data_and_tools_path %></li>
        <li class="grid_4"><%= link_to "People", people_path %></li>
      </ul>
    </div>

    <div class="main_content grid_12">
      <%= yield %>
    </div>

    <div class="grid_12">
      <div class="footer">
      </div>
    </div>
  </div>

</body>
</html>
