<!DOCTYPE html>
<html>
  <head>
    <title><%= t'site_name' %></title>
    <%= stylesheet_link_tag 'grid', 'scaffold','global'  %>
    <script src="https://www.google.com/jsapi?key=ABQIAAAAeHILri4AWFPUe0-e6P_4ABT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQwL8AXvy8vSY9rXFf4z7zSI4k5EQ" type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
      //<![CDATA[

        google.load("jquery", "1.4.4");
    
      //]]>
    </script>

<%= javascript_include_tag 'jquery.cookie', 'jquery.rails', 'jquery.tablesorter.min', 'jquery.uitablefilter', "jquery.jstree", 'application'  %>
<%= csrf_meta_tag %>
</head>
<body>
  <div class="container clearfix">
    <div class="header grid_12">
      <div class="grid_10">
        <h1><%= link_to t('site_name'), about_path %></h1>
      </div>
      <div class="language_picker grid_2">
        <%= link_to image_tag('/images/flags/en.png'), url_for(:locale => :en) %>
        <%= link_to image_tag('/images/flags/fr.png'), url_for(:locale => :fr) %>
      </div>
    </div>
    <div class="navigation grid_12">
      <ul class="menu grid_12">
        <li class="grid_4"><%= link_to "Information", information_path %></li>
        <li class="grid_4"><%= link_to "Data and Tools", data_and_tools_path %></li>
        <li class="grid_4"><%= link_to "People", people_path %></li>
      </ul>
    </div>

    <div class="main_content grid_12">
      <%= yield %>
    </div>

    <div class="footer grid_12">
      <div class="grid_4">
        <%= t('site_name') %> <br/>
        UNEP-WCMC 2010-<%= Time.now.year %>
      </div>
      <div class="grid_8" style="">
        <%= link_to image_tag("/images/logos/unep_wcmc.png", :title =>"UNEP WCMC"), "http://unep-wcmc.org" %>
        <%= link_to image_tag("/images/logos/undp.png", :title =>"UNDP"), "http://www.unep.org/dgef/ " %>
        <%= link_to image_tag("/images/logos/GEF.png", :title =>"GEF"), "http://www.thegef.org/gef/" %>
        <%= link_to image_tag("/images/logos/iucn_papaco.png", :title =>"IUCN PAPACO"), "http://www.papaco.org" %>
        <%= link_to image_tag("/images/logos/DICE.png", :title =>"Durrell Institute of Conservation and Ecology (DICE)"), "http://www.kent.ac.uk/dice/" %>
        <%= link_to image_tag("/images/logos/durham_university.png", :title =>"Durham University"), "http://www.dur.ac.uk/" %>
        <%= link_to image_tag("/images/logos/birdlife_international.png", :title =>"Birdlife International"), "http://www.birdlife.org/" %>
        <%= link_to image_tag("/images/logos/met_office_hadley_centre.png", :title =>"Met Office - Hadley Centre"), "http://www.metoffice.gov.uk/climatechange/science/hadleycentre/" %>
        <%= link_to image_tag("/images/logos/fauna_and_flora_international.png", :title =>"Fauna and Flora International"), "http://www.fauna-flora.org/ " %>
        <%= link_to image_tag("/images/logos/iucn_species_programme.png", :title =>"IUCN species programme"), "http://www.iucn.org/species/" %><br/>
        <%= image_tag("/images/logos/goverment_of_mali.png", :title =>"Goverment of Mali") %>
        <%= image_tag("/images/logos/goverment_of_sierra_leone.png", :title =>"Goverment of Sierra Leone") %>
        <%= image_tag("/images/logos/goverment_of_togo.png", :title =>"Goverment of Togo")%>
        <%= image_tag("/images/logos/government_of_chad.png", :title =>"Government of Chad")%>
        <%= image_tag("/images/logos/government_of_gambia.png", :title =>"Government of Gambia")%>
      </div>
    </div>
  </div>

</body>
</html>
